html {
    background: #000000;
    background-image: linear-gradient(270deg, rgb(25, 25, 25) 100%, rgb(25, 25, 25) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #000000;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h2, h3, h4, h5, {
    color: #FFFFFF;
    font-weight: 1000;
    line-height: 1.5;
}

h6 {
    color: #621313;
    font-weight: 1000; 
    line-height: 1.5; 
}

h2 {
    margin-top: 1.3em;
}

h6 {
    margin-top: 0.5em; 
    margin-bottom: 0.5em; 
}

h1 {
    font-weight: 10000; 
    margin-bottom:0.5em; 
}

a {
    color: #621313;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
